{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='find.css') }}">
{% endblock %}

{% block content %}

<main>
    <h2>고수찾기</h2>

    <div class="filters">
        <button>서비스 ▼</button>
        <button>지역 ▼</button>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="어떤 서비스가 필요하세요?">
        <button class="btn">지도</button>
    </div>

    <div class="list">
        <div class="item">
            <div class="item-info">
                <h3>치워드림</h3>
                <p>⭐ 4.9 (11,326) · 2,961회 고용 · 경력 24년</p>
                <p>🥇숨고 종합 1등 청소/시공 전문🥇 ★숨고 최초 리뷰 10,000개 달성 !! 가장 많은 선택을 받은 업체 ❤️ 신뢰에 보답하겠습니다!🫡</p>
            </div>
            <button class="favorite">♡ 찜한 고수</button>
        </div>

        <div class="item">
            <div class="item-info">
                <h3>청소다움 700</h3>
                <p>⭐ 5.0 (7,069) · 경력 10년</p>
                <p>전국 청소업체 단 ! 하나의⭐️1점⭐ 리뷰도 없는 ⭐️청소다움⭐️ 6800개 이상 확실한 사후관리와 함께 청소다움에서 시작하세요 !</p>
            </div>
            <button class="favorite">♡ 찜한 고수</button>
        </div>

        <div class="item">
            <div class="item-info">
                <h3>해방플러스</h3>
                <p>⭐ 5.0 (3,124) · 경력 9년</p>
                <p>숨고 바퀴벌레 개미 해충방역업체 고용수 1️⃣위 / 리뷰 1️⃣위 / 바퀴벌레, 개미, 보행해충, 미세해충 퇴치 / 유입경로차단</p>
            </div>
            <button class="favorite">♡ 찜한 고수</button>
        </div>

        <div class="item">
            <div class="item-info">
                <h3>‼️벽걸이TV 압도적(전국1위) JHTV‼️</h3>
                <p>⭐ 5.0 (8,357) · 경력 10년</p>
                <p>‼️고용횟수2️⃣8️⃣0️⃣0️⃣ 회 달성 ‼️선택된 1% 고객만이전국1위업체의차별화된서비스를 받아볼수있습니다기회를 잡으세요‼️</p>
            </div>
            <button class="favorite">♡ 찜한 고수</button>
        </div>

        <div class="item">
            <div class="item-info">
                <h3>⭕️청소를부탁해⭕️입주청소,이사청소,거주청소쓰레기집청소</h3>
                <p>⭐ 5.0 (6,175) · 경력 10년</p>
                <p>⭕️대표 얼굴을 걸고 청소합니다.⭐평점5.0 ✅️제가 직접 상담합니다 직영⭕️하청❌️ 청라점,송도점,마곡점,수원점,마포점,일산점,성남점,김포점</p>
            </div>
            <button class="favorite">♡ 찜한 고수</button>
        </div>

        <div class="item">
            <div class="item-info">
                <h3>강트럭ㆍ 용달 1위 ㆍ화물업체</h3>
                <p>⭐ 5.0 (9,512) · 경력 10년</p>
                <p>🥇용달ㆍ화물 전체1등🥇/⭐강트럭⭐❤용달/화물운송 🚀당일예약가능/화물ㆍ용달</p>
            </div>
            <button class="favorite">♡ 찜한 고수</button>
        </div>

        <div class="item">
            <div class="item-info">
                <h3>❤️바로홈클린❤️본사직영,입주청소,거주청소,A/S⭕</h3>
                <p>⭐ 5.0 (5,713) · 경력 10년</p>
                <p>대형 청소플랫폼에 인정받아 숨고에 입점하게 되었습니다. 말만 번지르르 하지 않겠습니다. 진심은 늘 통합니다🙏</p>
            </div>
            <button class="favorite">♡ 찜한 고수</button>
        </div>

    </div>
</main>

{% endblock %}