<footer class="site-footer bg-light border-top">
    <div class="container" style="max-width: 1000px;">

        <div class="row py-4 align-items-start">
            <div class="col-md-6">
                <div class="small text-secondary" style="font-size: 0.8rem; line-height: 1.6;">
                    <strong>매칭허브</strong> | 대표: NEXTLEVEL | 사업자등록번호: 120-88-12345
                    <br>주소: 수원시 MBC아카데미
                    <br>통신판매업 신고: 제2025-서울강남-12345호
                    <br>고객센터: 1588-0000 | 이메일: dny1010@matchinghub.co.kr
                </div>
            </div>

            <div class="col-md-6">
                <div class="row text-start text-md-end small">
                    <div class="col-3">
                        <h6 class>매칭허브</h6>
                        <ul class="footer-list">
                            <li><a href="#">회사소개</a></li>
                            <li><a href="#">채용안내</a></li>
                            <li><a href="#">팀블로그</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h6 class>고객안내</h6>
                        <ul class="footer-list">
                            <li><a href="#">이용안내</a></li>
                            <li><a href="#">안전정책</a></li>
                            <li><a href="#">고수찾기</a></li>
                            <li><a href="#">숨고보증</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h6 class>고수안내</h6>
                        <ul class="footer-list">
                            <li><a href="#">이용안내</a></li>
                            <li><a href="#">고수가입</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h6 class>고객센터</h6>
                        <ul class="footer-list">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
            <div class="text-secondary small">
                © 2025 MatchingHub, Inc. All rights reserved.
            </div>
            <div class="d-flex align-items-center gap-3">
                <div class="d-flex gap-2">
                    <span class="text-secondary fw-semibold mt-1" style="font-size: 0.9rem;">앱 다운로드</span>
                    <a href="#" class="app-badge btn btn-outline-dark btn-sm px-3">App Store</a>
                    <a href="#" class="app-badge btn btn-outline-dark btn-sm px-3">Google Play</a>
                </div>

                <div class="d-flex gap-3">
                    <a href="#" class="footer-icon"><i class="fa-brands fa-instagram" style="color:#444447"></i></a>
                    <a href="#" class="footer-icon"><i class="fa-brands fa-facebook" style="color:#444447"></i></a>
                    <a href="#" class="footer-icon"><i class="fa-brands fa-youtube" style="color:#444447"></i></a>
                    <a href="#" class="footer-icon"><i class="fa-solid fa-blog" style="color:#444447"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

