{% extends 'base.html' %} {# base.html 레이아웃을 사용하도록 연결 #}

{% block content %}
<div class="container text-center mt-5"> {# bootstrap 컨테이너와 중앙 정렬, 상단 여백 #}
    <h1>환영합니다! 👋</h1>
    <p class="lead">여기는 프로젝트의 메인 페이지입니다. <br> 아직 작업 중입니다!</p>
    <hr>
    <p>아래 링크를 통해 담당 페이지로 이동해주세요.</p>
    <p>
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary btn-lg me-2">로그인 하러가기</a>
        <a href="{{ url_for('auth.client_signup') }}" class="btn btn-outline-secondary btn-lg">회원가입 하러가기</a>
    </p>
</div>
{% endblock %}