<nav class="navbar navbar-expand-md bg-white sticky-top custom-navbar">
  <div class="container" style="max-width: 1000px;">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="매칭허브" class="navbar-logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}">고수찾기</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('store._list') }}">마켓</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('community.home') }}">커뮤니티</a></li>
      </ul>

      <ul class="navbar-nav">
        {% if g.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.mypage') }}"> 마이페이지
              {{ g.user.name or g.user.userid }}
            </a>
          </li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">로그아웃</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">로그인</a></li>
          <li class="nav-item"><a class="nav-link sign" href="{{ url_for('auth.client_signup') }}">회원가입</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
