<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>숨고 마켓</title>
</head>
<body>
  <main>
    <h2>마켓</h2>
    <div class="search-bar">
      <input type="text" placeholder="원하는 상품을 검색해보세요">
      <button class="btn">검색</button>
    </div>

    <div class="categories">
      <button>전체</button>
      <button>피트니스</button>
      <button>요가</button>
      <button>댄스</button>
      <button>헬스</button>
      <button>자세교정</button>
      <button>PT</button>
    </div>
마켓이미지/1번.webp
    <div class="product-grid">
      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/1번.webp') }}" alt="코치">
        <div class="product-info">
          <h3>1:1 맞춤 트레이닝</h3>
          <p>[유튜브 4,000만 조회수] 운동하는 물리치료사 김동우의 진짜 헬스케어</p>
          <div class="price">₩50,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/2번.webp') }}">
        <div class="product-info">
          <h3>다이어트 PT</h3>
          <p>[23만 인플루언서 소피] 하루 10분, 반드시 성공하는 다이어트</p>
          <div class="price">₩70,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/3번.webp') }}">
        <div class="product-info">
          <h3>체형교정 필라테스</h3>
          <p>한남동 VIP들이 선택한 프리미엄 체형 교정 필라테스!</p>
          <div class="price">₩30,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/4번.webp') }}">
        <div class="product-info">
          <h3>여성전문 1:1 PT</h3>
          <p>산후 복근 가능해요! 삼형제맘 런소은과 함께하는 다이어트 특강</p>
          <div class="price">₩65,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/5번.webp') }}">
        <div class="product-info">
          <h3>남성전문 1:1 PT</h3>
          <p>TV에서 보던 스타 트레이너! 지방 빼는 저승사자의 결과 보장 다이어트</p>
          <div class="price">₩75,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/6번.webp') }}">
        <div class="product-info">
          <h3>서울대 운동학 석사PT</h3>
          <p>서울대 운동학 석사는 잘 알고, 잘 가르칩니다</p>
          <div class="price">₩60,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/7번.webp') }}">
        <div class="product-info">
          <h3>프로 선수 코치출신 PT</h3>
          <p>PT와 필라테스를 한 번에?! 프로 운동 선수들이 받는 재활 전문 트레이닝</p>
          <div class="price">₩70,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/8번.webp') }}">
        <div class="product-info">
          <h3>효과 보장 고강도 PT</h3>
          <p>아이돌 멤버에서 인기 트레이너로! 운동 효과 보장하는 정성학의 트레이닝</p>
          <div class="price">₩80,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/9번.webp') }}">
        <div class="product-info">
          <h3>체형 맞춤 퍼스널핏 PT</h3>
          <p>체형 본연의 아름다움을 찾는, 체형 맞춤 퍼스널핏 트레이닝</p>
          <div class="price">₩85,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/10번.webp') }}">
        <div class="product-info">
          <h3>모래시계 몸매 메이킹</h3>
          <p>비현실적 바디라인! 김치타의 <내가 꿈꾸던 몸매 만들기 프로젝트></p>
          <div class="price">₩55,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/11번.webp') }}">
        <div class="product-info">
          <h3>지영쌤의 필라테스</h3>
          <p>Love yourself, 나를 돌보는 스트레스 완화 필라테스</p>
          <div class="price">₩45,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/12번.webp') }}">
        <div class="product-info">
          <h3>물리치료사 출신 필라테스</h3>
          <p>필라테스하는 물리치료사가 끝까지 결과 보장하는 맞춤형 필라테스</p>
          <div class="price">₩65,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/13번.webp') }}">
        <div class="product-info">
          <h3>1회만 받아도 다이어트 보장</h3>
          <p>1회만으로 확실한 효과를, 고강도 다이어트 필라테스</p>
          <div class="price">₩55,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/14번.webp') }}">
        <div class="product-info">
          <h3>어깨 재활 마스터 PT</h3>
          <p>어깨 재활 연구만 10년! 망가진 어깨, 관절을 구원할 마스터 트레이닝</p>
          <div class="price">₩65,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/15번.webp') }}">
        <div class="product-info">
          <h3>국가대표 전문성 트레이너 </h3>
          <p>국가대표 전담 트레이너와 함께하는 체형교정 재활 1:1 운동</p>
          <div class="price">₩50,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/16번.webp') }}">
        <div class="product-info">
          <h3>편안해지는 클래식 필라테스</h3>
          <p>몸, 마음, 정신의 조화로움 클래식 필라테스</p>
          <div class="price">₩80,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/17번.webp') }}">
        <div class="product-info">
          <h3>산전산후 전문 필라테스</h3>
          <p>선택이 아닌 필수! 산전산후 필라테스 마스터의 1:1 특강</p>
          <div class="price">₩90,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/18번.webp') }}">
        <div class="product-info">
          <h3>여름준비 끝 ! 바디 만들기 !</h3>
          <p>1:1 프리미엄 PT로 이번 여름, 탄탄한 바디 만들기</p>
          <div class="price">₩45,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/19번.webp') }}">
        <div class="product-info">
          <h3>강남구 상위 1% PT</h3>
          <p>숨고 PT 강남구 상위 1%, 남경문의 올라운드 PT</p>
          <div class="price">₩55,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/20번.webp') }}">
        <div class="product-info">
          <h3>최초의 아로마 필라테스</h3>
          <p>몸과 마음을 치유하는 시간, 아로마 테라피로 물들인 필라테스</p>
          <div class="price">₩65,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/21번.webp') }}">
        <div class="product-info">
          <h3>1:1 프라이빗 필라테스</h3>
          <p>1:1 큐잉 마스터의 통증 완화 필라테스</p>
          <div class="price">₩60,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/22번.webp') }}">
        <div class="product-info">
          <h3>초보도 쉽게 따라하는 PT</h3>
          <p>평범한 사람을 위한 가장 보통의 운동 초보자도 쉽게따라하는 PT</p>
          <div class="price">₩70,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/23번.webp') }}">
        <div class="product-info">
          <h3>실용음악 25년 경력 맑은 소리</h3>
          <p>무대 경험 25년 성악·실용음악 전공자도 배우러 오는 판소리 클래스!!</p>
          <div class="price">₩65,000~</div>
        </div>
      </div>

            <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/24번.webp') }}">
        <div class="product-info">
          <h3>당신의 바버샵의 시작을 함께합니다</h3>
          <p>바버샵 디자인 커트 교육 진행 합니다</p>
          <div class="price">₩100,000~</div>
        </div>
      </div>

      <div class="product">
        <img src="{{url_for('static', filename='img/마켓이미지/25번.webp') }}">
        <div class="product-info">
          <h3>초보 공예반 놀러오세요 !</h3>
          <p>다양한 원목생상의 몬드리안 트레이 셋트</p>
          <div class="price">₩35,000~</div>
        </div>
      </div>

    </div>
  </main>
</body>
</html>
