body {
    font-family: 'Noto Sans KR','Pretendard', sans-serif;
    padding: 20px;
    margin: 0 auto;
}

/*  SEARCH  */
.search-form {
    max-width: 600px;
    width: 100%;
    background: #eee;
    border: 1.5px solid #eee;
    border-radius: 30px;
    padding: 6px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-icon {
    font-size: 1.1rem;
    color: #666;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.search-form input {
    border: none;
    outline: none;
    background: transparent;
    color: #333;
    flex: 1;
}

.search-form input:focus {
    outline: none;
    box-shadow: none;
    background: transparent;
    border: none;
}

.divider {
    width: 1px;
    height: 26px;
    background-color: #ccc;
    opacity: 0.7;
}

.search-btn {
    font-size: 0.95rem;
    padding: 8px 20px;
    line-height: normal;
}



/*  CATEGORY  */
.category-wrapper {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.swiper-button-prev,
.swiper-button-next {
    width: 32px;
    height: 32px;
    top: 65%;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    color: #333;
    transform: translateY(-50%);
    overflow: visible;
    background: #fff;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 14px;
    font-weight: bold;
}

.swiper-button-prev {
    left: -16px;
}
.swiper-button-next {
    right: -16px;
}

.swiper {
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    position: relative;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 12px;
    text-align: center;
    font-weight: 600;
    padding: 16px 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
    cursor: pointer;
    transition: all .2s ease;
}

.ad-wrapper{
    position: relative;
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.category-icon {
    font-size: 32px;
    margin-bottom: 8px;
    transition: color 0.2s;
}
.category-name {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin: 0;
}

@media (max-width: 768px) {
    .swiper {
        max-width: 100%;
        padding: 8px 0;
    }
    .category-icon {
        font-size: 24px;
    }
    .category-name {
        font-size: 13px;
    }
}

/*  COMMUNITY  */
.community-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.post-card {
    width: 300px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.thumb {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.post-info {
    padding: 12px;
}

.post-info h3 {
    font-size: 16px;
    margin-bottom: 6px;
}

.post-info p {
    font-size: 14px;
    color: #666;
}